product/priv-app/RecorderPrebuilt/RecorderPrebuilt.apk
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreSc.apk
product/priv-app/Velvet/Velvet.apk
system/system/system_ext/priv-app/Settings/Settings.apk
